@tailwind base;

/*! purgecss start ignore */
@import "transitions";
@import "misc";

@font-face {
  font-family: "Heebo var"; // variable font! [https://github.com/TypeNetwork/heebo]
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: "Regular";
  font-display: swap;
  src: url("../fonts/Heebo-beta-VF.otf") format("otf"), url("../fonts/Heebo-beta-VF.woff2") format("woff2");
}

input,
select,
textarea,
button,
div,
a {
  &:focus,
  &:active {
    outline: none;
  }
}

.draggable {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.no-drag {
  -webkit-user-select: auto;
  -webkit-app-region: no-drag;
}

/*! purgecss end ignore */

@tailwind components;
@tailwind utilities;
